* {
    box-sizing: border-box;
    margin: 0;
    
}


body{

      background-image: url('./Photos/news.jpg') ;
      background-size:10%;
      display:flex;
      flex-direction: column;
      
}

.transitions{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width:100%;
    height: 100%;
}



h1{
    margin-bottom:12px;
    color:rgb(148, 0, 0);
}


img{
    width: 100%;
    height: 300px;
    margin: 10px;
    
}

.newsDiv{

      border: 2px solid rgb(95, 0, 0);
      width:39vw;
      padding:20px;
      height: auto;
      font-size: 12px;
      margin:auto;
      margin-top: 8%;
      background-color: white;
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: Verdana, Tahoma, sans-serif;
      animation: fadein  2s;
     
}


.spaceDiv{
    height: 100px;
}



.div{
    background-color: rgba(31, 30, 30, 0.959);
    
}


.name{
    color: rgb(230, 0, 0);
    cursor: none;
}



.link:hover{
    color:rgb(49, 49, 160);
    
}


.navbarWrap{
    display:flex;
    flex-direction:column;
    align-items: flex-end;
    justify-content: flex-start;
    height: 90vh;
    width: 12em;
    padding: 1%;
    position:fixed;
    background-color: rgba(255, 255, 255, 0.979);
    overflow-x: hidden;
    margin-top: 49vh;
    
}



@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



.navbar{
    height: 100%;
    
}


.close{
    
    background-color: rgb(168, 0, 0);
    position:fixed;
    width: 19px;
    height: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -0.7%;
    margin-left: 0.7%;
   
}


.close2{
    color: rgba(255, 255, 255, 0.945);
    font-family:  'arial';
    font-weight: 400;
    font-size: 17px;
    margin:auto;
}


.close2:hover{
    color:rgb(190, 149, 149);
}


button{
    width:100px;
    height: 36px;
    font-size:16px;
    font-family: 'verdana';
    font-weight: bolder;
    color: rgb(156, 0, 0);
    background-color: rgba(255, 255, 255, 0.849);
    cursor: pointer;
    position:fixed;
    border: 2px solid rgba(0, 0, 0, 0.938);
    border-radius: 2px;
    margin-left: -4%;
    animation: fadein 1s;
}


p{
    font-size: 19px;
    font-weight: bolder;
    text-decoration: none;
    color: rgb(141, 0, 0);
    cursor: pointer;
    margin: auto;
    margin-bottom:12px;
    font-family: 'helvetica';
    font-weight: 700;
}

.axios{
    margin-top: 3%;
}

p:hover{
    color:white;
    background-color: rgb(161, 0, 0);
    
}


.channelName{
    
    text-align: center;
    background-color: rgba(255, 255, 255, 0.938);
    position: fixed;
    width:100%;
    margin:auto;
    border: 6px solid rgba(255, 255, 255, 0.938);
    font-size: 35px;
    cursor: grab;
}

 
.channelName2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width:100%;
    font-family: 'helvetica'
}


a{
    font-size:18px;
    font-weight: bolder;
    color: rgb(207, 31, 0);
}




@media only screen and (max-width: 600px) {

    .div{
        background-color: rgba(31, 30, 30, 0.924);
        
    }


.channelName{
    font-size: 20px;
    border:10px solid rgba(255, 255, 255, 0.63);
}

.channelName2{
    height: 48px;
}

.newsDiv{
    width: 75.5vw;
    height: auto;
    margin: auto;
    margin-top: 20%;
    padding:8px;
    border: 0px;
    
}

img{
    height: 28%;
    width: 100%;
   
}

button{
    width: 55px;
    height: 25px;
    font-size: 9px;
    font-weight: bolder;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:2px;
    
}


.navbarWrap{
    width: 35vw;
    height: 74vh;
    margin-top: 42vh;
    padding: 2.5%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.966);
    
}


p{
    font-size: 15px;
    margin-bottom:13px;
}


a{
    font-size: 12px;
    color:rgb(151, 0, 0);
}


h1{
    font-size: 14px;
    margin: 0px;
}


h2{
    font-size: 11px;
    
}


.name{
    color:rgb(148, 0, 0);
}


.close{
    margin-bottom:10px;
    height:auto;
    background-color: rgb(153, 0, 0);
    
}


.close2{
    color:rgba(255, 255, 255, 0.883);
}


.spaceDiv{
    height: 65px;
}

}