* {
    box-sizing: border-box;
    margin: 0;
}


body{
      background-image: url('./Photos/news.jpg') ;
      background-size:10%;
      display:flex;
      flex-direction: column;
}



.div{
    background-color: hsla(0, 0%, 4%, 0.979);
    height: 100%;
    width: 100%;
}


.div2{
    background-color: hsla(0, 1%, 8%, 0.970);
    height: 100%;
    width: 100%;
    position:fixed;
}


.splitScreen{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto ;
}


.split2{
    width: 55vw;
    height: auto;
    overflow: scroll;
    display: flex;
    align-items: center;
    animation: videoIn4 2.5s;
}


.splitP{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:16px;
    font-weight:900;
    position: fixed;
    margin-top: 3.5%;
    width: 35px;
    color: rgb(160, 1, 1);
    border: 3px solid rgb(160, 1, 1);
    border-radius: 3px;
    font-family: sans-serif;
    cursor:pointer;
}


.split1{
    overflow: scroll;
    width: 45vw;
    height: auto;
    animation: videoIn3 2.5s , fade 4s;
    padding-bottom: 15%;
    padding-top: 5%;
    margin-left: 5%
}


@-webkit-keyframes videoIn3 {
    from {  margin-left: -150%}
    to   {  margin-left: 5%}
}


@-webkit-keyframes videoIn4{
    from {  margin-right: -170%}
    to   {  margin-right: 10%}
}


.opening{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color:rgba(14, 14, 14, 0.959);
   
}


.opening2{
    height: auto;
    width:auto;
    background-image: url('./Photos/news.jpg') ;
    background-size:10%;
    display:flex;
    align-items: center;
    justify-content: center;
}


.loading{
    margin-bottom:20%;
    height:30%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}


.transitions{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width:100%;
    height: 100%;
}



.button2Wrap{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width:100%;
    height: auto;
    position: absolute;
}


h1{
    margin-bottom:7px;
    color:rgb(144, 0, 0);
    font-size:21px;
}


img{
    width: 100%;
    margin: 7px;
}


.newsDiv{
      border: 2px solid rgb(70, 0, 0);
      width: 38vw;
      padding:18px;
      height: auto;
      font-size: 10px;
      margin:auto;
      margin-bottom: 5%;
      margin-top:8%;
      background-color: white;
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: Verdana, Tahoma, sans-serif;
}



.topHead{
    position: fixed;
    background-color:  rgb(161, 0, 0);
    color:rgb(240, 240, 240);
    padding: 3px;
    padding-top: 6px;
    width: 23.4vh;
    height:4vh;
    font-size: 2.3vh;
}


.topHead2{
    background-color:  rgb(161, 0, 0);
    color:rgb(240, 240, 240);
    padding: 3px;
    padding-top:6px;
    width: 13.4vw;
    height: 2em;
    font-size: 20px;
}


.argentina{
    margin-top: 6vh
}


.video{
    height: 100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.videoWrap{
    width: 60%;
    height: 57%;
}


.videoWrap2{
    width: 90%;
    height:49%;
    margin-bottom:10%;
}


@-webkit-keyframes videoIn2 {
    from {  margin-left: -150%}
    to   {  margin-left: 0px}
}


@-webkit-keyframes videoIn{
    from {  margin-right: -150%}
    to   {  margin-right: 0px}
}


.name{
    color: rgb(128, 0, 0);
    cursor: none;
}


.newLife{
    display: flex;
    width:45vw;
    position: fixed;
    margin-top: -1%;
}


.newLife2{
    display: flex;
    width: 50vw;
}


.smallRed{
    height: 15pt;
    width: 15pt;
    border: 3px solid rgb(169, 0, 0);
    border-radius: 2px;
    cursor: pointer;
    margin-left: 46%;
}


.smallRed2{
    height: 15pt;
    width: 15pt;
    border: 3px solid rgb(169, 0, 0);
    border-radius: 2px;
    cursor: pointer;
    margin-left: -6%;
}


.link:hover{
    color:rgb(85, 85, 196);
}


.link{
    font-size: 16px;
}


.navbarWrap{
    display:flex;
    flex-direction:column;
    padding: 1%;
    height: 90vh;
    width: 23.4vh;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.979);
    overflow: scroll;
    margin-top: 49vh;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    animation: fadein2 1s, fade 2.8s;
}


.navbarWrap2{
    display:flex;
    flex-direction:column;
    height: 90vh;
    width: 23.4vh;
    position: fixed;
    background-color: hsla(0, 0%, 100%, 0.977);
    overflow: scroll;
    margin-top: 49vh;
    margin-left: 30px;
    border-right: 1px solid rgb(161, 0, 0);
    border-bottom: 1px solid rgb(161, 0, 0);
    animation: fadein 1s, fade 2.2s;
}


@-webkit-keyframes fadein {
    from {  margin-left: -15%}
    to   {  margin-left: 30px}
}


@-webkit-keyframes fadein2 {
    from {  margin-left: 15%}
    to   {  margin-left: 0%}
}


@-webkit-keyframes fade {
    from {  opacity: 0}
    to   {  opacity: 1}
}



.button1{
    width: 6vw;
    height: 4.3vh;
    font-size:15px;
    font-family: 'helvetica';
    font-weight: bolder;
    color: rgb(241, 241, 241);
    background-color:  rgb(175, 0, 0);
    cursor: pointer;
    position:fixed;
    border: 1px solid rgb(141, 0, 0);
    border-radius: 2px;
    margin-left: -6.2%;
}



.button2{
    width: 6vw;
    height: 4.3vh;
    font-size:15px;
    font-family: 'helvetica';
    font-weight: bolder;
    color: rgb(241, 241, 241);
    background-color:  rgb(175, 0, 0);
    cursor: pointer;
    position:fixed;
    border: 1px solid  rgb(141, 0, 0);
    border-radius: 2px;
    margin-left: 6.2%;
}



p{
    font-size: 2.3vh;
    font-weight: bolder;
    text-decoration: none;
    color: rgb(155, 0, 0);
    cursor: pointer;
    margin-bottom:1.2vh;
    font-family: 'helvetica';
    font-weight: 700;
    padding:0.3vh;
    padding-left:5%;
}



.topP{
    float:left;
    margin-left:45vh;
    height: 4vh;
    width:2.2vw;
    cursor:pointer;
    background-image: url('./Photos/top.png');
    background-size: cover;
    background-position: center;
}



.bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.live{
    background-color:  rgb(161, 0, 0);
    color:rgb(240, 240, 240);
    border: 1px solid  rgb(141, 0, 0);
    margin: 5pt;
    padding: 6.7pt;
    font-size: 13pt;
}



.live:hover{
    color: rgb(197, 151, 151);
}



p:hover{
    color:white;
    background-color: rgb(161, 0, 0);
}


.channelName{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.938);
    width:100%;
    height: auto;
    margin:auto;
    border: 1.8vh solid rgba(255, 255, 255, 0.76);
    font-size: 3.2vh;
    position:fixed;
    color: rgb(170, 0, 0)
}

 
.channelName2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    width:100%;
    font-family: 'helvetica';
}


.channelName3{
    width: 100%;
    font-family: 'helvetica';
    font-size: 24px;
}


.channelName4{
   
    font-size: 24px;
    font-family: 'helvetica';
    width: 50%
}



a{
    font-size:17px;
    font-weight: bolder;
    color: rgb(37, 37, 37);
}




@media only screen and (max-width: 700px) {

    .div{
        background-color: rgba(22, 22, 22, 0.945);
        
    }


.channelName{
    font-size: 20px;
    border: 3vh solid rgba(255, 255, 255, 0.63);
}


.channelName2{
    height: 10.8vh;
}


.newsDiv{
    width: 97vw;
    height: auto;
    margin: auto;
    margin-top: 20%;
    padding:8px;
    border-top: 0;
    margin-bottom: 20%;
    margin-top: 20%;
}


img{
    height: 100%;
    width: 100%;
    margin:5px;
}


.button1,
.button2{
    width: 19vw;
    height: 33px;
    font-size: 0.8em;
    font-weight: bolder;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    padding: auto;
    border:1px solid rgb(156, 0, 0);
}


.button1{
    margin-left: -2%;
}


.button2{
    margin-left: 2%;
}



.navbarWrap{
    width: 35vw;
    height: 85vh;
    margin-top: 48vh;
    padding: 1%;
    border: 0px;
    margin-left:0px;
    animation: fadein2 1s, fade 1.2s;
}


.navbarWrap2{
    width: 35vw;
    height: 85vh;
    margin-top: 48vh;
    padding: 0px;
    border: 0px;
    margin-left:0px;
    animation: fadein 1s, fade 1.2s;
}


.live{
    margin: 1vh;
    font-size: 3.9vw;
    padding:1.9vw
}


.topHead{
    width:35vw;
    font-size: 4.5vw;
    height: auto;
}


.topHead2{
    width:35vw;
    font-size: 4.5vw;
    height: auto;
}


.argentina{
    margin-top: 48%
}


@-webkit-keyframes fadein2 {
    from { margin-left: 15%}
    to   { margin-left: 0%}
}

@-webkit-keyframes fadein {
    from { margin-left: -15%}
    to   { margin-left: 0%}
}

@-webkit-keyframes videoIn {
    from {  margin-top: -250vh}
    to   {  margin-top: 0%}
}

@-webkit-keyframes videoIn2 {
    from {  margin-top: 250vh}
    to   {  margin-top: 0px}
}


p{
    font-size: 4.5vw;
    margin-bottom:13px;
}


.topP{
    margin-left:170px;
    height: 27px;
    width:27px;
}


a{
    font-size: 14px;
}


h1{
    font-size: 17px;
    margin: 0px;
}


h2{
    font-size: 15px;
}


.name{
    color:rgb(148, 0, 0);
}


.close{
    margin-bottom:10px;
    height:auto;
    background-color: rgb(153, 0, 0);
}


.close2{
    color:rgba(255, 255, 255, 0.883);
}


.video{
    height: 100vh;
    width: 100vw;
}


.videoWrap{
    width: 100%;
    height: 100%;
    border: 3px solid white;
    border-bottom:7px solid white;
}


.splitP,
.div2 {
    visibility: hidden;
}

}



    


