* {
    box-sizing: border-box;
    margin: 0;
}


body{
      background-image: url('./Photos/news.jpg') ;
      background-size:10%;
      display:flex;
      flex-direction: column;
}

body::-webkit-scrollbar{
    display: none;
 }


.div{
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;  
}

.div::-webkit-scrollbar{
    display: none;
    width: 0 ;
    background-color: transparent;
 }


.div2{
    background-color: rgba(14, 14, 14, 0.979);
    height: 100%;
    width: 100%;
    position:fixed;
}

.cover{
    background-color: rgba(0, 0, 0, 0.558);
    height:100vh;
    width:100vw;
    position:absolute;
    visibility: hidden;
}

.splitScreen{
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 2vh;
    grid-template-columns: auto auto ;
}

.split2{
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: videoIn4 1.8s;
    margin-right:10%;
}

.split1{
    overflow: scroll;
    width: 42vw;
    height: auto;
    animation: videoIn3 2.5s , fade 4s;
    padding-bottom: 15%;
    padding-top: 5%;
    margin-left: 10%;
}

.split1::-webkit-scrollbar { width: 0 !important }

.splitP{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:16px;
    font-weight:900;
    position: fixed;
    margin:auto;
    width: 35px;
    color: rgb(160, 1, 1);
    border: 3px solid rgb(160, 1, 1);
    border-radius: 3px;
    font-family: sans-serif;
    cursor:pointer;
}


@-webkit-keyframes videoIn3 {
    from {  margin-left: -150%}
    to   {  margin-left: 10%}
}


@-webkit-keyframes videoIn4{
    from {  margin-right: -100%}
    to   {  margin-right: 10%}
}

.loading1{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.loading2{
    height: auto;
    width:auto;
    display:flex;
    align-items: center;
    justify-content: center;
}

.loading3{
    height: auto;
    width:auto;
    display:flex;
    align-items: center;
    justify-content: center;
}

.loading{
    margin-bottom:20%;
    height:30%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.transitions{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
}

.button2Wrap{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
  

h1{
    color:rgb(131, 0, 0);
    margin-bottom: 1pt;
    font-size:13pt;
}

h2{
    font-size:12.5pt;
    font-family: 'arial';
}

img{
    width: 100%;
    margin: 7px;
}

.newsDiv{
      width: 330pt;
      padding:10px;
      height: auto;
      font-size: 10pt;
      margin:auto;
      margin-bottom: 5%;
      margin-top:8%;
      background-color: white;
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: Verdana, Tahoma, sans-serif;
}

.newsDiv2{
    width: 370pt;
    padding:10px;
    height: auto;
    font-size: 10pt;
    margin:auto;
    margin-bottom: 9%;
    margin-top:4%;
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Tahoma, sans-serif;
}

.newsBig{
    animation: superMan 1s;
}


@keyframes superMan{
    from{ margin-left: -50%}
    to  { margin-left: 0}
}


.topHead{
    position: fixed;
    background-color:  rgb(161, 0, 0);
    color:rgb(240, 240, 240);
    display: flex;
    align-items: center;
    width: 28vh;
    height:4.5vh;
    font-size: 2vh;
}

.switchTo{
    background-color:  rgb(161, 0, 0);
    color:rgb(240, 240, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145pt;
    height: 2em;
    font-size: 15px;
    margin:auto;
}

.argentina{
    margin-top: 5vh
}

.video{
    height: 100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.videoWrap{
    width: 700pt;
    height:394pt;
    margin-bottom:7%;
}

.videoWrap2{
    width: 400pt;
    height:225pt;
    margin:auto;
    margin-bottom:39vh
}


@-webkit-keyframes videoIn2 {
    from {  margin-left: -150%}
    to   {  margin-left: 0px}
}


@-webkit-keyframes videoIn{
    from {  margin-right: -150%}
    to   {  margin-right: 0px}
}


.name{
    color: rgb(128, 0, 0);
    cursor: none;
}

.channelName6{
    display: flex;
    width:501pt;
    margin-top: -1%;
}

.channelName7{
    display: flex;
    justify-content: space-between;
    width: 400pt;
    position:fixed;
    margin-top: -20pt;
}

.fullScreen{
    height: 13pt;
    width: 13pt;
    border: 3px solid rgb(169, 0, 0);
    border-radius: 2px;
    cursor: pointer;
}

.fullScreen2{
    height: 13pt;
    width: 13pt;
    border: 3px solid rgb(169, 0, 0);
    border-radius: 2px;
    cursor: pointer;
    position:fixed;
    margin-left: 39vw;
}

.link:hover{
    color:rgb(85, 85, 196);
}

.link{
    font-size: 13px;
}

.navbarWrap{
    padding:1%;
    display:flex;
    flex-direction:column;
    height: 90vh;
    width: 24vh;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.979);
    margin-top: 49vh;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    animation: fadein2 0.7s, fade 1.8s;
    overflow: scroll;
}

.navbarWrap::-webkit-scrollbar { 
    width: 0 !important ;
    background-color: transparent;
}


.navbarWrap2{
    min-height: 0;
    display:flex;
    flex-direction:column;
    height: 90vh;
    width: 28vh;
    background-color: hsla(0, 0%, 100%, 0.977);
    overflow: scroll;
    -webkit-overflow-scrolling: touch; 
    margin-top: 49vh;
    margin-left: 0vh;
    border-right: 1px solid rgba(161, 0, 0, 0.308);
    border-bottom: 1px solid rgba(161, 0, 0, 0);
    animation: fadein 0.7s, fade 1.2s;
    position:fixed;
}

.navbarWrap2::-webkit-scrollbar { 
    width: 0 !important;
    background-color: transparent;
}


@-webkit-keyframes fadein {
    from {  margin-left: -15%}
    to   {  margin-left: 0vh}
}


@-webkit-keyframes fadein2 {
    from {  margin-left: 15%}
    to   {  margin-left: 0%}
}


@-webkit-keyframes fade {
    from {  opacity: 0}
    to   {  opacity: 1}
}

.button1{
    width: 9.5vw;
    height: 23pt;
    font-size:14px;
    font-family: 'helvetica';
    font-weight: bolder;
    color: rgb(241, 241, 241);
    background-color:  rgb(175, 0, 0);
    cursor: pointer;
    border: 1px solid rgb(141, 0, 0);
    border-radius: 2px;
    margin-left: -60pt;
    position:fixed;
}

.button2{
    width: 9.5vw;
    height: 23pt;
    font-size:14px;
    font-family: 'helvetica';
    font-weight: bolder;
    color: rgb(241, 241, 241);
    background-color:  rgb(175, 0, 0);
    cursor: pointer;
    border: 1px solid  rgb(141, 0, 0);
    border-radius: 2px;
    margin-left:60pt;
    position:fixed;
}

.button1:hover{
    color: rgb(214, 188, 188);
}

.button2:hover{
    color: rgb(214, 188, 188);
}

p{
    font-size: 2.1vh;
    font-weight: bolder;
    text-decoration: none;
    color: rgb(155, 0, 0);
    cursor: pointer;
    margin-bottom: 0.2vh;
    font-family: 'helvetica';
    font-weight: 700;
    padding:3pt;
    padding-left:12pt;
}


.topP{
    float:left;
    height: 21pt;
    width: 21pt;
    cursor:pointer;
    background-image: url('./Photos/top.png');
    background-size: cover;
    background-position: center;
}

.bottom{
    display: flex;
    flex-direction: row;
    width:95%;
    align-items: center;
    justify-content:space-between;
}

.live{
    background-color:  rgb(161, 0, 0);
    color:rgb(240, 240, 240);
    border: 1px solid  rgb(141, 0, 0);
    margin-top: 4pt;
    padding: 6.7pt;
    font-size: 13pt;
}

.live:hover{
    color: rgb(197, 151, 151);
}

p:hover{
    color:white;
    background-color: rgb(161, 0, 0);
}

.channelName{
    text-align: center;
    height: auto;
    font-size: 15pt;
    color: rgb(156, 0, 0);
    padding:2pt;
    margin:auto;
    animation: fade 2s;
}

.channelName2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 7.5vh;
    width:100vw;
    font-family: 'helvetica';
    background-color: rgba(255, 255, 255, 0.938);
    border: 1.7vh solid rgba(255, 255, 255, 0.76);
}


.channelName5{
    display: flex;
    align-items: center;
    justify-content:center;
    height: 7.5vh;
    width:100vw;
}


.channelName3{
    width: 390pt;
    font-family: 'helvetica';
    font-size: 16pt;
    color: rgb(185, 0, 0);
    position:fixed;
}

.channelName4{
   font-size: 16pt;
   font-family: 'helvetica';
   width: 50%;
   color:rgb(185, 0, 0);
}

a{
    font-size:17px;
    font-weight: bolder;
    color: rgb(37, 37, 37);
}




@media only screen and (max-width: 600px) {

   
.channelName{
    font-size: 4vw;
    color: rgb(165, 0, 0);
}

.channelName2{
    height: 9vh;
    background-color:rgba(255, 255, 255, 0.972);
    border: 1.7vh solid rgb(255, 255, 255);
}

.newsDiv2,
.newsDiv{
    width: 97.7vw;
    height: auto;
    margin: auto;
    margin-top: 20%;
    padding:2vw;
    border-top: 0;
    margin-bottom: 20%;
    margin-top: 20%;
}

.newsBig{
    animation:none;
}

.button1,
.button2{
    width: 24vw;
    height: 33px;
    font-size: 0.75em;
    font-weight: bolder;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    padding: auto;
    border:1px solid rgb(156, 0, 0);
}

.button1{
    margin-left: 0%;
}

.button2{
    margin-left: 0%;
}

.navbarWrap{
    width: 40vw;
    height: 85vh;
    margin-top: 48vh;
    border: 0px;
    margin-left:11px;
    overflow: scroll;
    animation: fadein2 1s, fade 1.2s;
    position:fixed;
}

.navbarWrap2{
    width: 38.5vw;
    height: 85vh;
    margin-top: 48vh;
    padding: 0px;
    border: 0px;
    margin-left: -11px;
    animation: fadein 1s, fade 1.2s;
    position: fixed;
}


.live{
    margin: 1vh;
    font-size: 3.9vw;
    padding:1.9vw;
}

.topHead{
    width:38.5vw;
    font-size: 4vw;
    height: auto;
    position:fixed;
}


.argentina{
    margin-top: 45%
}


@-webkit-keyframes fadein2 {
    from { margin-left: 15%}
    to   { margin-left: 11px}
}

@-webkit-keyframes fadein {
    from { margin-left: -15%}
    to   { margin-left: -11px}
}

@-webkit-keyframes videoIn {
    from {  margin-top: -250vh}
    to   {  margin-top: 0%}
}

@-webkit-keyframes videoIn2 {
    from {  margin-top: 250vh}
    to   {  margin-top: 0px}
}


p{
    font-size:4vw;
    margin-bottom:8px;
    padding-left:10pt;
}

.topP{
    height: 26px;
    width:26px;
}

a{
    font-size: 13px;
}

.link{
    font-size:13px;
    font-family: 'arial'
}

h2{
    font-size: 11.5pt;
}

.name{
    color:rgb(148, 0, 0);
}

.close{
    margin-bottom:10px;
    height:auto;
    background-color: rgb(153, 0, 0);
}

.close2{
    color:rgba(255, 255, 255, 0.883);
}

.video{
    height: 100vh;
    width: 100vw;
}

.videoWrap{
    width: 100%;
    height: 100%;
    border: 3px solid white;
    border-bottom:7px solid white;
}

.splitP {
    visibility: hidden;
}

.itemTitle{
    font-size: 11.5pt;
}

.switchTo{
    width: 30vw;
    margin-bottom:5pt;
    font-size: 2.5vw;
}

}


@media only screen and (min-width:601px) and (max-width:1100px) {
    
    
    .switchTo{
        width:120pt;
    }

  .newsDiv2,
  .newsDiv{
    width:350pt;
  }
    
  .splitP {
    visibility: hidden;
  }
  
  .button1,
  .button2{
    width: 75pt;
    height: 30px;
    font-size: 0.8em;
    font-weight: bolder;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    padding: auto;
    border:1px solid rgb(156, 0, 0);
}

.button1{
    margin-left: -2%;
}

.button2{
    margin-left: 2%;
}

}


@media only screen and (min-width: 2140px) {

    .newsDiv2,
    .newsDiv{
        width: 430pt;
    }

    .videoWrap2{
        width: 600pt;
        height:337pt;
        margin:auto;
    }

    .smallRed{
        margin-left:82pt;
    }

    .button1,
    .button2{
        width: 150pt;
    }

    .split2{
        width: 45vw;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: videoIn4 1.8s;
        margin-right:17%;
    }
    
    .split1{
        overflow: scroll;
        width: 42vw;
        height: auto;
        animation: videoIn3 2.5s , fade 4s;
        padding-bottom: 15%;
        padding-top: 5%;
        margin-left: 17%
    }

    @-webkit-keyframes videoIn3 {
        from {  margin-left: -150%}
        to   {  margin-left: 17%}
    }
    
    
    @-webkit-keyframes videoIn4{
        from {  margin-right: -100%}
        to   {  margin-right: 17%}
    }

    .channelName7{
        display: flex;
        justify-content: space-between;
        width: 600pt;
        position:fixed;
        margin-top: -20pt;
    }
}